*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-bottom: 10000px;
}

header{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.title h1{
    color: white;
}

nav ul{
    display: flex;
    gap: 3rem;
}

nav ul li {
    font-size: 16px;
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.hero{
    width: 1700px;
    max-width: 100%;
    z-index: 10;
}

.hero img{
    height: 90vh;
    width: 1600px;
    object-fit: cover;
    max-width: 100%;
    inset: 0 0 0 0;
}

.content{
    position: relative;
    top: -250px;
}

.content h1{
    font-size: 50px;
    text-align: center;
    color: white;
}

.container-button{
    gap: 2rem;
    text-align: center;
}

.button{
    display: inline-flex;
    text-align: center;
    padding-top: 60px;
    gap: 5rem;
}

.button a{
    color: white;
    padding: 10px 30px 10px 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    background-color: white;
}

#project{
    padding-top: 150px;
}

.grid{
    padding-top: 170px;
    width: 90%;
    margin: auto;
    padding-bottom: 130px;
    text-align: center;
}

.list-grid{
    gap: 4rem;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.grid-project1{
    width: 250px;
    height: 300px;
    border: solid 7px black;
    border-radius: 10px;
    background-color: black;
}
.grid-project2{
    width: 250px;
    height: 300px;
    border: solid 7px black;
    border-radius: 10px;
    background-color: black;
}
.grid-project3{
    width: 250px;
    height: 300px;
    border: solid 7px black;
    border-radius: 10px;
    background-color: black;
}

.image-project1{
    padding-top: 10px;
}

.image-project1 img{
    border-radius: 10px;
    width: 200px;
    height: 100px;
    border: solid 3px white;
}

.image-project2{
    padding-top: 10px;
}

.image-project2 img{
    border-radius: 10px;
    width: 200px;
    height: 100px;
    border: solid 3px white;
}

.image-project3{
    padding-top: 10px;
}

.image-project3 img{
    border-radius: 10px;
    width: 200px;
    height: 100px;
    border: solid 3px white;
}

.title-team{
    text-align: center;
    font-size: 30px;
}

.person{
    width: 250px;
    height: 340px;
    border: solid 2px black;
    border-radius: 10px;
}

.container-profile{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.img-profile{
    width: 100px;
    border: solid 2px black;
    border-radius: 60px;
}

#team {
    padding-top: 100px;
}

.grid-team{
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    background-color: whitesmoke;
    padding: 1rem;
    margin-top: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}



.username{
    padding-top: 100px;
}

.visi-grid{
    display: grid;
    grid-template-columns: auto auto auto auto; 
    padding: 20px;
    margin: auto;
    width: 90%;
}

.visi{
    width: 350px;
    height: 200px;
    border-radius: 30px;
    border: solid 3px transparent;
    background-color: rgba(211, 211, 211, 0.686);
    color: rgb(73, 72, 72);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 500;
    transition: all 1s ease ;
    cursor: pointer;
    max-width: 80%;
}

.visi:hover{
    transform: scale(1.1);
    box-shadow: 10px 3px 20px 1px black;
    color: black;
}

.container-contact{
    width: 400px;
    height: 540px;
    border: solid 2px rgb(0, 0, 0);
    padding: 40px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 40px;
}

.contact{
    display: flex;
    justify-content: space-between;
}

.contact-in{
    text-align: center;
}

.email{
    text-align: start;
    letter-spacing: 2px;
}

#email{ 
    margin-top: 10px;
    padding: 7px;
    width: 300px;
    outline: none;
    border: solid 2px black;
    border-radius: 10px;
    font-family: sans-serif;
}

.user{
    padding-top: 40px;
    text-align: start;
    letter-spacing: 1px;
}

#username{
    padding: 7px;
    width: 300px;
    border: solid 2px black;
    font-family: sans-serif;
    outline: none;
    margin-top: 10px;
    border-radius: 10px;
}

.comment{
    padding-top: 30px;
    text-align: start;
    letter-spacing: 1px;
}

#comment{
    margin-top: 10px;
    border: solid 2px black;
    width: 300px;
    height: 170px;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}

.btn-send{
    padding-top: 20px;
}

.btn{
    width: 300px;
    border-radius: 10px;
    height: 35px;
    border: solid 2px black;
    outline: none;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 700;
    background-color: white, transparent;
    background: linear-gradient(to left , blue , red);
    color: white;
}

.medsos-aside{
    padding-top: 60px;
    width: 60%;
    text-align: center;
}

.container-ig{
    width: 240px;
    height: 300px;
    border: solid 2px black;
    border-radius: 10px;
}


.container-aside-image img{
    width: 60px;
    height: 60px;
    border-radius: 80px;
}

.hero-section-media-social{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.border-telegram{
    width: 250px;
    height: 300px;
    border: solid 2px black;
    border-radius: 10px;   
    background-color: whitesmoke;
}

.navbar-telegram{
    display: flex;
    gap: 1rem;
    padding-top: 20px;
    padding-left: 10px;
}

.profile-telegram{
    padding-top: 20px;
}

.profile-telegram img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.username-acount{
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 700;
}

.icon-tele{
    display: flex;
    padding-top: 30px;
    gap: 2rem;
    font-size: 10px;
    justify-content: center;
}

.icon-tele i{
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.aside-telegram{
    font-size: 10px;
    text-align: start;
    background-color: white;
    width: auto;
    height: 60px;
    align-content: center;
    margin: 30px 4% 4% 4%;
    font-family: sans-serif;
    outline: none;
    border-radius: 20px;
}
hr{
    background-color: grey;
    height: 2px;
    border: none;
}

.text1{
    padding-bottom: 10px;
    color: blue;
    font-weight: 700;
    padding-left: 10px;
}

.text2{
    padding-left: 10px;
    padding-top: 10px;
    color: red;
    font-weight: 700;
}